@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

.spec-box-heading {
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display SC', serif;
}

.spec-box-heading h1 {
    color: #5b4d4a;
    font-size: 50px;
    font-family: 'Playfair Display SC', serif;
    margin: 20px 0px;
}

.spec-box-heading .spec-para{
    color: #5b4d4a;
    font-family: 'Raleway', sans-serif;
    margin: 20px 0px;

}

.spec-box-heading h6 {
    color: #827976;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 7px;
    font-weight: 600;
}

.spec-box-heading .spec-btn {
    padding: 10px 30px;
    border-radius: 25px;
    color: #5b4d4a;
    border-color: #a4786f;
}p.spec-line {
    background: #827976;
    padding: 1px 0px;
    width: 100px;
}
@media (max-width:992px){
    .spec-box-heading h6 {
        letter-spacing: 4px;
        font-size: 12px;
    }.spec-box-heading h1 {
        font-size: 30px;
        margin: 5px 0px;
    }.spec-box-heading .spec-para {
        margin: 10px 0px;
        font-size: 12px;
    }.spec-box-heading .spec-btn {
        padding: 5px 15px;
        font-size: 12px;
    }
}
@media (max-width:768px){
    .spec-box-heading h6 {
        letter-spacing: 4px;
        font-size: 10px;
    }.spec-box-heading h1 {
        font-size: 20px;
        margin: 5px 0px;
    }.spec-box-heading .spec-para {
        margin: 4px 0px;
        font-size: 10px;
    }.spec-area {
        margin-top: 50px;
    }
}
@media (max-width:576px){
    .spec-box-heading .spec-para {
      display: none;
    } p.spec-line {
     display: none;
    }.spec-box-heading h6 {
        letter-spacing: 4px;
        font-size: 8px;
    }.spec-box-heading h1 {
        font-size: 16px;
        margin: 5px 0px;
    }.spec-detail {
        text-align: center;
    }button.spec-btn.btn.btn-outline-dark {
        padding: 2px 10px;
        font-size: 10px;
    }
}