@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

ul,
li,
a,
p {
    margin: 0;
    padding: 0;
}

.Header-area .logo {
    font-family: 'Outfit', sans-serif;
}

.Header-area ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.Header-area ul li {
    list-style: none;
    margin-right: 10px;
    font-weight: 600;
    padding: 10px 15px;
}
.Header-area ul li a{
    text-decoration: none;
    color: #000;
}
.Header-area .fa-bars-staggered {
    font-size: 30px;
    margin-left: 20px;
    background: transparent;
}

.Header-area {
    padding: 5px 50px;
    position: relative;
}

.Header-area .header-box-2 {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    height: 100%;
    transition: ease-out 0.3s;
}
.home-logo {
    width: 120px;
}
.canva-btn{
    background-color: transparent  !important;
    color: black !important;
    border: none !important;
}
@media (max-width:992px){
    .Header-area ul li{
        display: none;
    }.home-area h2 {
        font-size: 25px;
    }.home-area .home-content p{
            font-size: 14px;
            font-weight: 300;
    }.home-logo {
        width: 100px;
    }
}

@media (max-width:576px){
    .home-area h2 {
        font-size: 18px;
    }.Header-area {
        padding: 5px 30px;
    }
}