.home-area{
    /* background-image: url(/public/images/home8.jpg); */
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
}
.home-main{
    overflow: hidden;
}
.home-area .home-btn{
    color: white;
    border: 1px solid white;
    border-radius: 1px;
}
.home-area h2{
    font-family: 'Outfit', sans-serif;
}
.home-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.home-content {
    text-align: center;
    margin-top: 100px;
}.home-area .fa-circle-play{
    font-size: 40px;
    margin-bottom: 20px;
}

@media (max-width:768px){
    .home-area{
        height: 60vh;
    }
}